<html>
  {% block head %}
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
    {% if title %}
    <title>{{ title }} - flask tutorial</title>
    {% else %}
    <title>Welcome to flask</title>
    {% endif %}
  </head>
  {% endblock %}
  <body>
    <div>Flask tutorial <a href="/index">Home</a></div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>